$color_Primary: #F4976C;
$color_Primary_Active: #f5ab88;
$color_Secondary: #FBE8A6;
$color_Black: #1E2020;
$color_Black_Action: #3d3d3d;
$color_White: #FFFF;
$color_Action: #B4DFE5;
$color_Action_Hover: #D2FDFF;
$color_Danger: #7c1a13;

$fontSize_Heading: 3.5em;
$fontSize_Giant: 2.4em;
$fontSize_Big: 1.5em;
$fontSize_Medium: 1.2em;
$fontSize_Small: 0.8em;
$fontSize_Tiny: 0.5em;