@import '../../assets/styles/mixins';

.main {
    background: url('../../assets/backgrounds/home.png') no-repeat center;
    background-size: cover;
    height: 100vh;
    display: flex;
    justify-content: space-around;

    @include for-tablets {
        height: auto;
        flex-direction: column;
        justify-content: center;
        align-items: space-evenly;
    }
}

